body {
  margin: 0;
  padding: 0;
  font-family: segoe UI; }
  body h2:after {
    content: "___";
    display: block;
    margin-top: -30px;
    margin-bottom: 30px;
    font-weight: bold; }
  body header {
    height: 65vh;
    padding: 0 !important;
    background: url(img/section-hero.png);
    background-size: cover;
    background-position: center; }
    body header nav {
      width: 100%;
      position: fixed;
      top: 0;
      margin: 0;
      background-color: black;
      opacity: 0.8;
      height: 10vh;
      margin-top: -5px; }
      body header nav h1 {
        color: white;
        font-size: 30px;
        font-family: segoe UI; }
        body header nav h1 .eblue {
          color: #4bcaff; }
      body header nav .lienheader {
        margin: 0;
        background-color: black;
        font-size: 14px;
        font-family: segoe UI; }
        body header nav .lienheader a {
          text-decoration: none;
          color: white;
          padding: 5px;
          margin: 5px;
          transition: 0.3s; }
          body header nav .lienheader a:hover {
            border: solid #4bcaff;
            color: #4bcaff; }
    body header .imlooking {
      color: white;
      font-size: 35px;
      text-align: center;
      position: relative;
      top: 40%; }
      body header .imlooking p {
        margin: 3px;
        font-family: segoe UI;
        font-size: 42px;
        font-weight: lighter; }
      body header .imlooking .bkimlooking {
        background-color: rgba(0, 0, 0, 0.5);
        background-size: 15px; }
  body .services {
    margin: 0;
    background-color: #4bcaff;
    padding: 5vh 0vw;
    color: white; }
    body .services h2 {
      font-family: segoe UI;
      font-size: 30px;
      font-weight: lighter;
      text-transform: uppercase;
      margin: 0;
      border: 0; }
    body .services h3 {
      margin: 5px;
      font-size: 23px;
      color: white; }
    body .services .iconeservice p {
      font-size: 12px; }
  body .portfolio {
    padding-top: 10vh; }
    body .portfolio .navport {
      margin-bottom: 2vh; }
      body .portfolio .navport h2:after {
        content: "___";
        display: block;
        margin-top: -30px;
        font-weight: bold; }
      body .portfolio .navport .lienport a {
        text-decoration: none;
        color: black;
        float: right;
        font-size: 14px;
        font-family: segoe UI;
        margin: 8px;
        padding: 6px;
        transition: 0.3s; }
        body .portfolio .navport .lienport a:hover {
          border: solid #4bcaff;
          color: #4bcaff; }
    body .portfolio .imgportofolio {
      padding-bottom: 10vh; }
      body .portfolio .imgportofolio .ombre {
        position: relative; }
      body .portfolio .imgportofolio .hover {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 260px;
        opacity: 0;
        color: white;
        font-size: 50px;
        margin: 0;
        padding: 0; }
      body .portfolio .imgportofolio .cadre:hover .hover {
        opacity: 1;
        transition: .5s ease; }
      body .portfolio .imgportofolio img {
        height: 100%;
        width: 100%; }
  body .just-default {
    background-color: #515f67; }
    body .just-default .justselection {
      padding-top: 5vh;
      padding-bottom: 5vh; }
      body .just-default .justselection .textselection {
        font-size: 14px;
        font-family: segoe UI;
        text-align: justify;
        color: #ffffff;
        padding-bottom: 5vh; }
        body .just-default .justselection .textselection a {
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          border: solid #ffffff;
          padding: 10px;
          margin-top: 5vh; }
  body .twitter {
    background-color: #4bcaff; }
    body .twitter .logotwitter {
      padding-top: 10vh;
      color: white; }
      body .twitter .logotwitter i {
        font-size: 2rem; }
    body .twitter .texttwitter {
      color: white;
      padding-bottom: 10vh;
      font-size: 1.5rem;
      font-family: segoe UI; }
  body .who {
    background: url(img/who.png);
    background-size: cover;
    background-position: center;
    color: white; }
    body .who .boitewho {
      padding-top: 10vh;
      padding-bottom: 10vh; }
    body .who .textwho p {
      font-family: segoe UI;
      font-size: 1rem; }
    body .who .textwhoicone p {
      font-family: segoe UI;
      font-size: 1rem; }
    body .who .logowho i {
      border: solid white 1px;
      font-size: 30px;
      height: 60px;
      width: 60px;
      text-align: center;
      line-height: 60px; }
  body .testi {
    padding-top: 10vh;
    padding-bottom: 10vh; }
    body .testi .gime i {
      font-size: 25px;
      color: #515f67; }
    body .testi .texttesti {
      font-family: segoe UI;
      font-size: 1rem;
      font-weight: lighter; }
    body .testi .walter {
      color: #4bcaff;
      font-family: segoe UI;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 30px; }
  body .contact {
    background: url(img/section-contact.png);
    background-size: cover;
    margin: 0;
    padding-top: 10vh;
    padding-bottom: 10vh; }
    body .contact h2 {
      color: white; }
    body .contact .text {
      font-size: 1rem;
      font-family: segoe Ui;
      color: white;
      padding-top: 15px; }
    body .contact .fullname {
      width: 80%;
      height: 100%; }
    body .contact footer h2 {
      color: white; }
    body .contact .casefull {
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      background: transparent;
      border: solid 2px white;
      color: white; }
    body .contact .casefull2 {
      height: 216px;
      width: 100%;
      background: transparent;
      border: solid 2px white;
      color: white; }
    body .contact h4 {
      color: white;
      font-family: segoe UI;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px; }
    body .contact .boutonmessage {
      color: white;
      font-family: segoe UI;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 25px;
      background-color: #4bcaff;
      border: none;
      height: 50px;
      width: 360px; }
  body .finalfooter {
    background-color: #353f47;
    margin-top: -5px;
    padding: 80px 20%;
    font-family: segoe UI;
    color: #4e5b63; }

/*# sourceMappingURL=style.css.map */
