body {
	margin:0;
	padding: 0;
    font-family: segoe UI;
    h2:after{
        content: "___";
        display: block;
        margin-top: -30px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .bg-light{
        background-color: black !important;
    }
    nav {
        width: 100%;
        position: fixed;
        top: 0;
        margin:0;
        opacity: 0.8;
        margin-top: -5px;
        padding: 15px !important;
        h1{ 
            color: white;
            font-size: 30px;
            font-family: segoe UI;
            @media (max-width: 575px) { 
                font-size: 20px;
             }
            @media (min-width: 576px) and (max-width: 767px) { 
                font-size: 20px;
             }
            .eblue {
                color: #4bcaff;
            } 
        }
        .lienheader{
            margin: 0;
            font-size: 14px;
            font-family: segoe UI;
            &:hover{
                border: solid #4bcaff;
                color: #4bcaff;
            }
            .a {
                text-decoration: none;
                color: white;
                padding: 0px;
                transition: 0.3s;
            }
        }
    }
    header {
        height: 65vh;
        padding: 0 !important;
        background:url(img/section-hero.png);
        background-size: cover;
        background-position: center;
        @media (max-width: 575px) { 
            height: 100vh;
         }
        @media (min-width: 576px) and (max-width: 767px) { 
            height: 100vh;
         }
        .imlooking  {
            color: white;
            font-size: 35px;
            text-align: center;
             p {
                margin: 3px;
                font-family: segoe UI;
                font-size: 42px;
                font-weight: lighter;
                @media (max-width: 575px) { 
                    font-size: 25px;
                 }
                @media (min-width: 576px) and (max-width: 767px) { 
                    font-size: 40px;
                 }
            
            }
            .bkimlooking{
                background-color: rgba(0,0,0,0.5);
                background-size: 15px;
            }
        }
    }
    .services {
        margin: 0;
        background-color: #4bcaff;
        padding: 5vh 0vw;
        color: white;
        h2{
            font-family: segoe UI;
            font-size: 30px;
            font-weight: lighter;
            text-transform: uppercase;
            margin: 0;
            border: 0;
        
        }

        h3 {
            margin: 5px;
            font-size: 23px;
            color: white;
        }
        .iconeservice p {
            font-size: 12px;
        
        }
    }
    .portfolio{
        padding-top: 10vh;
        .navport {
            margin-bottom: 2vh;
            h2:after{
                content: "___";
                display: block;
                margin-top: -30px;
                font-weight: bold;
            }
            .lienport a{
                text-decoration: none;
                color:black;
                float: right;
                font-size: 14px;
                font-family: segoe UI;
                margin: 8px;
                padding: 6px;
                transition: 0.3s;
                &:hover{
                    border: solid #4bcaff;
                    color: #4bcaff;
                    }
            }
        }  
        .imgportofolio{ 
            padding-bottom: 10vh;
            .ombre{
                position: relative;
            }
                .hover{
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0,0,0,0.7);
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 260px;
                    opacity: 0;
                    color: white;
                    font-size: 50px;
                    margin: 0;
                    padding: 0;
                }
                .cadre:hover .hover{ 
                    opacity: 1;
                    transition: .5s ease;
                }
            
            img{
                height: 100%;
                width: 100%;
            }
        
        }
    }
    .just-default {
        background-color: #515f67;
        .justselection{
            padding-top: 5vh;
            padding-bottom: 5vh;
            .textselection {
                font-size: 14px;
                font-family: segoe UI;
                text-align: justify;
                color: #ffffff;
                padding-bottom: 5vh;
                // margin-bottom: 5vh;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    text-transform: uppercase;
                    border: solid #ffffff;
                    padding: 10px;
                    margin-top: 5vh;
                }
            }
        }
    }
    .twitter{ 
        background-color: #4bcaff;
        .logotwitter{
            padding-top: 10vh;
            color: white;
            i{
                font-size: 2rem;
            }
        }
        .texttwitter{
            color: white;
            padding-bottom: 10vh;
            font-size: 1.5rem;
            font-family: segoe UI;
        }
    }
    .who {
        background: url(img/who.png);
        background-size: cover;
        background-position: center;
       
        color: white;
        // padding: 80px 20%;
        .boitewho {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
        .textwho p{
            font-family: segoe UI;
            font-size: 1rem;
        
        }
        .textwhoicone p{
            font-family: segoe UI;
            font-size: 1rem;
        
        }
        .logowho i{
            border: solid white 1px;
            font-size: 30px;
            height: 60px;
            width: 60px;
           text-align: center;
           line-height: 60px;
        }
    }
    .testi{
        padding-top: 10vh;
        padding-bottom: 10vh;
        .gime i{ 
            font-size: 25px; 
            color: #515f67;
        
        }
        .texttesti{
            font-family: segoe UI;
            font-size: 1rem;
            font-weight: lighter;
        }
        .walter{
            color: #4bcaff;
            font-family: segoe UI;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 30px;
        
        }
    }
    .contact{
        background: url(img/section-contact.png);
        background-size: cover;
        margin: 0;
        padding-top: 10vh;
        padding-bottom: 10vh;
        h2{
            color: white;
        }
        .text{
            font-size: 1rem;
            font-family: segoe Ui;
            color: white;
            padding-top: 15px;
        }
        .fullname{
            width: 80%;
            height: 100%;
        }
        footer h2{
            color: white;
        
        }
        
        .casefull{
            height: 50px;
            width: 100%;
            margin-bottom: 10px;
            background: transparent;
            border: solid 2px white;
            color: white;
        }
        .casefull2{
            height: 216px;
            width: 100%;
            background: transparent;
            border: solid 2px white;
            color: white;
        }
        h4{
            color: white;
            font-family: segoe UI;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .boutonmessage{
            color: white;
            font-family: segoe UI;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 25px;
            background-color: #4bcaff;
            border: none; 
            height: 50px;
            width: 50%;
        }
    }
    .finalfooter {
        background-color: #353f47;
        margin-top: -5px;
        padding: 50px;
        font-family: segoe UI;
        color: #4e5b63;
        
    }
}
